{% load sekizai_tags staticfiles i18n dixit_downloader %}

{% include "vis_widget/vis_menu.html" %}

{% block window %}
    <div id="window_{{ col }}">

        <div class="bordered" id="svg_{{ col }}">
            <div class="coocurence">
                <label for="enable-coocurence">Coocurence</label>
                <input type="radio" id="enable-coocurence" name="coocurences-setup">
                <label for="disable-coocurence">Hierarchical</label>
                <input type="radio" checked id="disable-coocurence" name="coocurences-setup">
            </div>
        </div>

        <script type="text/javascript">$(function() {
            var visualizations = [Cluster, Tree];
            make_svg(visualizations, "#stop-{{col}}", "#svg_{{col}}", "{{col}}");
        });
        </script>


        <div class="row-flud svg-menu" id="menu_{{ col }}">
            <a onclick="show_menu('#vis_menu_{{col}}', '#svg_{{ col }}');"><div class="col-md-2 svg-menu-item left">{% trans "Options" %}</div></a>

            <a onclick="return false;" href="" id="stop-{{cols}}"><div class="col-md-2 svg-menu-item">{% trans "Stop motion" %}
            </div></a>
            <a onclick="return false;" class="text-muted" href=""><div class="col-md-2 svg-menu-item">{% trans "Unlock" %}</div></a>
            <a onclick="return false;" class="text-muted" href=""><div class="col-md-2 svg-menu-item">{% trans "Show in Wordle" %}</div></a>
            {% downloader %}
        </div>
    </div>
{% endblock window %}


{% block js %}
    {% addtoblock 'js' %}
        <script type="text/javascript" src="{% static 'vis_widget/js/helpers.js' %}"></script>
    {% endaddtoblock %}
{% endblock js %}
