/*
bootstrap overrides
 */

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin: 3px 0 0 0;
}

.progress {
    text-align: center;
    box-shadow: none;
    background: #aaaaaa;
}
/*
END bootstrap overrides
 */
/* datepicker override */

#ui-datepicker-div {
    display: none;
}

.ui-datepicker {
    width: 80%;
    margin: auto;
    background-color: #dfdfdf;
    padding: 5px;
    border: 1px solid black;
}

.ui-datepicker-today {
    background-color: #a90ef5;
    color: white;
}

.ui-datepicker-calendar {
    border-top: 1px solid #8c8c8c;
    border-left: 1px solid #8c8c8c;
    background-color: #f2f2f2;
    width: 100%;
    text-align: center;
}

.ui-datepicker tr td {
    width: 12%;
    border-right: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    height: 20px;
}

.ui-datepicker-calendar tr td:hover {
    background-color: #337AB7;
    color: white;
}

.ui-state-default {
    font-weight: bold;
    color: #5a595a;
}

.ui-state-default:hover,
.ui-datepicker-today .ui-state-default {
    color: white;
}

.ui-state-default:hover {
    text-decoration: none;
}

.ui-state-hover {
    font-style: normal;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker-header {
    position: relative;
    height: 30px;
}

.ui-datepicker-title {
    left: 20%;
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.ui-datepicker-header>a,
.ui-datepicker-header>.ui-datepicker-title {
    position: absolute;
}

.ui-datepicker-next {
    left: 80%;
}

.ui-datepicker-header>a {
    width: 20%;
}

.ui-priority-secondary {
    font-weight: normal;
    color: #b7b7b7;
}
/* END datepicker override */

.progress-value {
    position: absolute;
    right: 0;
    left: 0;
}

.line {
    border: 2px solid black;
    margin: 20px 0;
}

.pt-aside-form .form-group {
    margin-bottom: 10px;
    width: 100%;
}

.pt-wheel {
    position: relative;
}

.pt-progress-bar-container p {
    text-align: center;
    width: 100%;
}

.pt-progress-bar {
    display: block;
    border: 4px solid white;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
}

.pt-progress-bar>.progress {
    display: inline-block;
    width: 23.70%;
    text-align: center;
    border-radius: 0px;
    margin-bottom: 0;
    height: 100%;
}

.pt-progress-bar>.progress:first-child {
    border-radius: 15px 0px 0px 15px;
}

.pt-progress-bar>.progress:last-child {
    border-radius: 0px 15px 15px 0px;
}

.pt-progress-bar-wrapper {
    border-radius: 25px;
    border: 2px solid #aaaaaa;
}

.pt-wheel-bg {
    position: absolute;
    /*
    for _pricing-tool-wheel-2.png
    top: -20px;
    left: -25px;*/

    top: 0;
    left: 0;
    width: 646px;
    height: 678px;
    background: url(../img/_pricing-tool-wheel.png) 0 0 no-repeat;
    opacity: 0.5;
    z-index: -1;
}

.pt-outher-circle {
    position: absolute;
    top: 33px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 644px;
    height: 644px;
    border: 9px solid #50677e;
    border-radius: 50%;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 100;
}

.pt-outher-circle-active {
    border-color: #6e0cad;
}

.pt-outher-circle-hover {
    border-color: #0083e8;
}

.pt-options-wrapper {
    position: absolute;
    top: -10px;
    bottom: 0;
    left: 29%;
    width: 155px;
    height: 50px;
    z-index: 90;
}

.pt-options-list {
    list-style: none;
    width: 155px;
    height: 50px;
    margin: 0;
    padding: 0;
}

.pt-options-list li {
    position: absolute;
    bottom: -3px;
    left: 0;
    display: table;
    width: 40px;
    height: 36px;
    background: #50677e;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    border-radius: 19px 19px 0 0;
    cursor: pointer;
}

.pt-options-list li > a {
    display: table-cell;
    margin: 0;
    padding: 0;
    color: #ffffff;
    border-radius: 19px 19px 0 0;
    vertical-align: middle;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
}

.pt-options-list-active {
    height: 58px;
    background: #6e0cad;
}

.pt-options-list a:hover {
    height: 58px;
    background: #0083e8;
    text-decoration: none;
}

.pt-options-list li:nth-child(1) {
    left: -2px;
}

.pt-options-list li:nth-child(2) {
    bottom: 4px;
    left: 55px;
}

.pt-options-list li:nth-child(3) {
    left: 114px;
}

.pt-inner-circle-wrapper {
    position: absolute;
    top: 54px;
    left: 22px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 100;
}

.pt-pricing-form label {
    font-weight: normal;
}

.pt-inner-circle {
    position: absolute;
    top: 88px;
    left: 87px;
    padding: 0;
    margin: 0;
    width: 423px;
    height: 422px;
    border: 9px solid #50677e;
    border-radius: 50%;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 100;
}

.pt-inner-circle-show {
    display: block;
    border-color: #6e0cad;
}

.pt-inner-circle-selector-wrapper > div {
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
}

.pt-row-top {
    height: 80%;
}

.pt-row-bottom {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 140px;
    height: 86px;
}

.pt-language-selector {
    position: absolute;
    top: 0;
    left: 180px;
    width: 243px;
    height: 85px;
}

.pt-sample-size-selector {
    position: absolute;
    top: 34px;
    right: 12px;
    width: 181px;
    height: 206px;
}

.pt-questions-selector {
    position: absolute;
    top: 240px;
    right: 1px;
    width: 111px;
    height: 238px;
}

.pt-codebooks-selector {
    position: absolute;
    bottom: 1px;
    right: 73px;
    width: 220px;
    height: 148px;
}

.pt-codebook-translation-selector {
    position: absolute;
    bottom: 2px;
    left: 72px;
    width: 221px;
    height: 146px;
}

.pt-verbatim-translation-selector {
    position: absolute;
    bottom: 122px;
    left: 0px;
    width: 110px;
    height: 237px;
}

.pt-codebooks-content select {
    width: 50%;
}

.pt-date-availability-selector {
    position: absolute;
    top: 34px;
    left: 9px;
    width: 182px;
    height: 207px;
}

.pt-choose-time-format {
    margin: auto;
    text-align: center;
}
/* svg hover state */

.pt-language-selector:hover g,
.pt-sample-size-selector:hover g,
.pt-questions-selector:hover g,
.pt-codebook-translation-selector:hover g,
.pt-verbatim-translation-selector:hover g,
.pt-codebooks-selector:hover g,
.pt-date-availability-selector:hover g {
    fill: #0083e8;
}
/* svg active state */

.pt-language-selector-active g,
.pt-sample-size-selector-active g,
.pt-questions-selector-active g,
.pt-codebook-translation-selector-active g,
.pt-verbatim-translation-selector-active g,
.pt-codebooks-selector-active g,
.pt-date-availability-selector-active g {
    fill: #6e0cad;
}

.pt-inner-circle-content-wrapper {
    position: absolute;
    top: 130px;
    left: 170px;
    width: 260px;
    height: 350px;
    z-index: 100;
}

.pt-language-content {
    display: none;
    width: 50%;
    margin: 10% auto 10% 35%;
}

.radio > label:hover {
    color: #0083e8;
}

.buttons-wrapper {
    display: none;
}

.buttons-wrapper .button-accept {
    margin-bottom: 10px;
}

.pt-sample-size-content {
    display: none;
    width: 100%;
    margin: 40% auto;
}

#sample-size {
    width: 98px;
    display: inline-block;
    text-align: right;
}

.pt-questions-content {
    display: none;
    margin: 5% auto;
}

.pt-questions-content .row {
    margin-bottom: 10px;
}

.pt-sample-size-content label,
.pt-questions-content label {
    margin-top: 4px;
}

.pt-questions-content .form-control {
    text-align: right;
}

.pt-codebook-translation-content {
    display: none;
}

.pt-verbatim-translation-content {
    display: none;
}

.pt-verbatim-translation-labels {
    margin-top: 25px;
    display: table;
    width: 100%;
}

.pt-verbatim-translation-labels>div {
    display: table-row;
    height: 25px;
    text-align: right;
}

.pt-verbatim-translation-labels>div>p {
    width: 100%;
}

.pt-verbatim-translation-languages {
    display: none;
}

.pt-verbatim-translation-languages {
    margin-left: 30%;
}

.pt-verbatim-translation-languages>div {
    margin: 10px;
}

.pt-codebooks-content {
    display: none;
}

.pt-codebooks-labels label {
    text-align: left;
}

.pt-date-availability-content {
    display: none;
    margin-top: 30px;
}

.pt-results-wrapper {
    position: absolute;
    top: 200px;
    left: 27%;
    width: 183px;
    height: 285px;
    z-index: 100;
}

.pt-results-wrapper > div {
    position: relative;
    width: 183px;
    height: 82px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-radius: 12px;
    color: #ffffff;
    background: #50677e;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 80;
}

.pt-results-wrapper > div:hover {
    background: #0083e8;
}

.pt-results-wrapper h2 {
    margin: 0;
    padding: 0;
}

.pt-results-wrapper p {
    margin: 0;
}

.pt-result-cost {}

.pt-result-timing {}

.pt-result-data-delivery {
    margin: 0;
}

.pt-result-middle {
    font-style: italic;
}

.pt-top-buttons-wrapper {
    width: 140px;
    margin: auto;
}

.pt-top-buttons-wrapper input {
    text-align: center;
    margin-bottom: 10px;
}
/*
buttons
 */

.button-accept,
.button-cancel,
.button-verbatim-translation {
    width: 140px;
    padding: 8px 39px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
}

.button-verbatim-translation {
    background: #aaaaaa;
    height: 30px;
}

.button-accept {
    background: #0083e8;
}

.button-accept:hover,
.button-verbatim-translation:hover {
    color: #ffffff;
    background: #6e0cad;
}

.button-verbatim-translation-selected {
    background: #000cad;
}

.button-verbatim-translation-selected:focus {
    color: white;
}

.button-cancel {
    background: #e84c00;
}

.button-cancel:hover {
    color: #ffffff;
    background: #d24906;
}
