/*
bootstrap overrides
 */

.checkbox input[type=checkbox],
.checkbox-inline input[type=checkbox],
.radio input[type=radio],
.radio-inline input[type=radio] {
    margin: 3px 0 0 0;
}

.progress {
    text-align: center;
    box-shadow: none;
    background: #aaaaaa;
}
/*
END bootstrap overrides
 */

.ui-widget-overlay { 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
}
.ui-widget-overlay { 
    background-color: black;
     opacity: .50;
     filter:Alpha(Opacity=50); 
     position: fixed;
}
/* datepicker override */

#ui-datepicker-div {
    display: none;
}

input[disabled] {
    color: red;
}

.ui-datepicker {
    width: 80%;
    margin: auto;
    background-color: #dfdfdf;
    padding: 5px;
    border: 1px solid black;
}

.ui-datepicker-today {
    background-color: #a90ef5;
    color: white;
}

.ui-datepicker-calendar {
    border-top: 1px solid #8c8c8c;
    border-left: 1px solid #8c8c8c;
    background-color: #f2f2f2;
    width: 100%;
}

.ui-datepicker tr td {
    width: 12%;
    border-right: 1px solid #8c8c8c;
    border-bottom: 1px solid #8c8c8c;
    height: 20px;
    text-align: center;
}

.ui-datepicker-current-day {
    background-color: red;
}

.ui-datepicker-calendar tr td:hover {
    background-color: #337AB7;
    color: white;
}

.ui-state-default {
    font-weight: bold;
    color: #5a595a;
}

.ui-state-default:hover,
.ui-datepicker-today .ui-state-default {
    color: white;
}

.ui-state-default:hover {
    text-decoration: none;
}

.ui-state-hover {
    font-style: normal;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker-header {
    position: relative;
    height: 30px;
}

.ui-datepicker-title {
    left: 20%;
    width: 60%;
    text-align: center;
    font-weight: bold;
}

.ui-datepicker-header>a,
.ui-datepicker-header>.ui-datepicker-title {
    position: absolute;
}

.ui-datepicker-next {
    left: 80%;
}

.ui-datepicker-header>a {
    width: 20%;
}

.ui-priority-secondary {
    font-weight: normal;
    color: #b7b7b7;
}
/* END datepicker override */

.progress-value {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    right: 0;
    left: 0;
}

.pt-level-1 .progress-value {
    left: -185px;
}

.pt-level-2 .progress-value {
    left: -65px;
}

.pt-level-3 .progress-value {
    left: 65px;
}

.pt-level-4 .progress-value {
    left: 185px;
}

.pt-body {
    position: relative;
    height: 500px;
}

.line {
    border: 1px solid #b3b3b3;
    margin: 20px 0;
}

.pt-aside-form .form-group {
    margin-bottom: 10px;
    width: 100%;
}

.pt-wheel {
    position: relative;
    width: 644px;
    display: table;
}

.progress-bar {
    background: #6e0cad;
}

.pt-progress-bar-container p {
    text-align: center;
    width: 100%;
}

.pt-progress-bar {
    display: block;
    border: 4px solid white;
    border-radius: 20px;
    height: 35px;
    cursor: pointer;
}

.pt-progress-bar > .progress {
    display: inline-block;
    width: 59px;
    text-align: center;
    border-radius: 0px;
    margin-bottom: 0;
    height: 100%;
}

.pt-progress-bar > .progress:first-child {
    border-radius: 15px 0px 0px 15px;
}

.pt-progress-bar > .progress:last-child {
    border-radius: 0px 15px 15px 0px;
}

.pt-progress-bar-wrapper {
    border-radius: 25px;
    border: 2px solid #aaaaaa;
}

.pt-outher-circle {
    position: absolute;
    top: 33px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 644px;
    height: 644px;
    background-color: #FFF;
    border: 9px solid #50677e;
    border-radius: 50%;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 100;
}

.pt-outher-circle-active {
    border-color: #6e0cad;
}

.pt-outher-circle-hover {
    border-color: #0083e8;
}

.pt-options-wrapper {
    margin: auto;
    display: table;
    top: -10px;
    bottom: 0;
    left: 29%;
    width: 155px;
    height: 90px;
    z-index: 90;
}

.pt-options-list {
    list-style: none;
    position: relative;
    width: 155px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.pt-options-tab {
    position: absolute;
    top:10px;
    width: 40px;
    height: 80px;
    background: #50677e;
    font-size: 18px;
    font-weight: 100;
    border-radius: 19px 19px 0 0;
    cursor: pointer;
    padding: 16px; 
    padding-top: 5px;
}


.pt-options-tab:hover {
    background-color: #0083E8;
}

.pt-options-identical-tabs,
.pt-options-tab-active {
    background-color: #6E0CAD;
    top: -10px;
}

.pt-option-tab-blinking {
    background-color: #FFF;
}

.pt-options-tab > a {
    display: table-cell;
    margin: 0;
    padding: 0;
    color: #ffffff;
    border-radius: 19px 19px 0 0;
    vertical-align: middle;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
}

.pt-options-list-active {
    height: 58px;
    background: #6e0cad;
}

.pt-inner-circle-wrapper {
    position: absolute;
    top: 54px;
    left: 22px;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    z-index: 100;
}

.pt-pricing-form label {
    font-weight: normal;
}

.pt-inner-circle {
    position: absolute;
    top: 88px;
    left: 87px;
    padding: 0;
    margin: 0;
    width: 423px;
    height: 422px;
    border: 9px solid #50677e;
    border-radius: 50%;
    -webkit-transition: 0.3s all;
    -ms-transition: 0.3s all;
    transition: 0.3s all;
    z-index: 100;
}

.pt-inner-circle-show {
    display: block;
    border-color: #6e0cad;
}

.pt-inner-circle-selector-wrapper > div {
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
    cursor: pointer;
}

.pt-row-top {
    height: 80%;
}

.pt-row-bottom {
    position: absolute;
    bottom: 0;
    left: 60px;
    width: 140px;
    height: 86px;
}

.pt-language-selector {
    position: absolute;
    top: 0;
    left: 180px;
    width: 243px;
    height: 85px;
}

.pt-sample-size-selector {
    position: absolute;
    top: 34px;
    right: 12px;
    width: 181px;
    height: 206px;
}

.pt-questions-selector {
    position: absolute;
    top: 240px;
    right: 1px;
    width: 111px;
    height: 238px;
}

.pt-codebooks-selector {
    position: absolute;
    bottom: 1px;
    right: 73px;
    width: 220px;
    height: 148px;
}

.pt-codebook-translation-selector {
    position: absolute;
    bottom: 2px;
    left: 72px;
    width: 221px;
    height: 146px;
}

.pt-verbatim-translation-selector {
    position: absolute;
    bottom: 122px;
    left: 0px;
    width: 110px;
    height: 237px;
}

.pt-codebooks-content select {
    width: 50%;
}

.pt-date-availability-selector {
    position: absolute;
    top: 34px;
    left: 9px;
    width: 182px;
    height: 207px;
}

.pt-choose-time-format {
    margin: 0 auto 15px auto;
    text-align: center;
}

.pt-choose-time-format label {
    margin-right: 15px;
}
/* svg text properties */

#language-text,
#sample-size-text,
#questions-text,
#codebooks-text,
#codebook-translation-text,
#verbatim-translation-text,
#date-availability-text {
    font: 24px/24px Arial, Verdana, sans-serif;
    fill: #ffffff;
}
/* svg hover state */

.pt-language-selector:hover g,
.pt-sample-size-selector:hover g,
.pt-questions-selector:hover g,
.pt-codebook-translation-selector:hover g,
.pt-verbatim-translation-selector:hover g,
.pt-codebooks-selector:hover g,
.pt-date-availability-selector:hover g {
    fill: #0083e8;
}
/* svg active state */

.pt-language-selector-active g,
.pt-sample-size-selector-active g,
.pt-questions-selector-active g,
.pt-codebook-translation-selector-active g,
.pt-verbatim-translation-selector-active g,
.pt-codebooks-selector-active g,
.pt-date-availability-selector-active g {
    fill: #6e0cad;
}

.pt-inner-circle-content-wrapper {
    position: absolute;
    top: 130px;
    left: 170px;
    width: 260px;
    height: 350px;
    z-index: 100;
}

.pt-codebook-translation-content,
.pt-language-content {
    display: none;
    width: 50%;
    margin: 10% auto 10% 35%;
}

.pt-codebook-use-previous-content {
    display: none;
}

.radio > label:hover {
    color: #0083e8;
}

.buttons-wrapper {
    display: none;
}

.buttons-wrapper .button-accept {
    margin-bottom: 10px;
}

.pt-sample-size-content {
    display: none;
    width: 100%;
    margin: 40% auto;
}

#sample-size {
    width: 98px;
    display: inline-block;
    text-align: right;
}

.pt-questions-content {
    display: none;
    margin: 5% auto;
}

.pt-questions-content .row {
    margin-bottom: 10px;
}

.pt-sample-size-content label,
.pt-questions-content label {
    margin-top: 4px;
}

.pt-questions-content .form-control {
    text-align: right;
}


.pt-verbatim-translation-content {
    display: none;
}

.pt-verbatim-translation-labels {
    margin-top: 10px;
    display: table;
    width: 100%;
}

.pt-verbatim-translation-labels .row {
    display: table-row;
    height: 25px;
    text-align: right;
}

.pt-verbatim-translation-labels .row > p {
    width: 100%;
}

.pt-verbatim-translation-labels .row input[type="number"] {
    margin-bottom: 10px;
}

.pt-verbatim-translation-languages {
    display: none;
}

.pt-verbatim-translation-languages {
    margin-left: 30%;
}

.pt-verbatim-translation-languages > div {
    margin: 10px;
}

.pt-codebooks-content {
    display: none;
    margin: 40% auto;
}

.pt-codebooks-labels label {
    text-align: left;
}

#codebook-cell-number-combobox {
    display: none;
}

.pt-date-availability-content {
    display: none;
    margin-top: 30px;
}


.pt-results-wrapper {
    position: relative;
}

.pt-results-wrapper {
    position: absolute;
    top: 200px;
    left: 35%;
    width: 183px;
    height: 285px;
    z-index: 100;
}

.pt-result-cost,
.pt-result-timing,
.pt-result-data-delivery {
    position: relative;
    width: 183px;
    height: 82px;
    margin-bottom: 20px;
    padding-top: 15px;
    border-radius: 12px;
    color: #ffffff;
    background: #50677e;
    text-align: center;
    cursor: pointer;
    -webkit-transition: 0.2s all;
    -ms-transition: 0.2s all;
    transition: 0.2s all;
    z-index: 80;
}


.pt-result-cost:hover,
.pt-result-timing:hover,
.pt-result-data-delivery:hover {
    background: #0083e8;
}

.pt-results-wrapper h2 {
    margin: 0;
    padding: 0;
}

.pt-results-wrapper p {
    margin: 0;
}

.pt-result-cost {}

.pt-result-timing {}

.pt-result-data-delivery {
    margin: 0;
}

.pt-result-middle {
    font-style: italic;
}

.pt-top-buttons-wrapper {
    width: 140px;
    margin: auto;
}

.pt-top-buttons-wrapper input {
    text-align: center;
    margin-bottom: 10px;
}

.pt-result-data-delivery-popup,
.pt-result-timing-popup,
.pt-result-cost-popup,
.pt-pricing-level-popup {
    position: absolute;
    left: 200px;
    z-index: 100;
 /*   display: none;*/
}

.pt-result-data-delivery-popup > div,
.pt-result-data-delivery-popup > div,
.pt-result-timing-popup > div,
.pt-result-cost-popup > div{
    position: relative;
}

.pt-pricing-level-popup-content>div,
.pt-result-data-delivery-popup-content > div ,
.pt-result-timing-popup-content> div ,
.pt-result-cost-popup-content > div{
    position: relative;
    border: 2px solid #a9cbe6;
    padding: 20px;    
}

.pt-pricing-level-popup-content,
.pt-result-data-delivery-popup-content,
.pt-result-timing-popup-content,
.pt-result-cost-popup-content {
    position: absolute;
    background-color: white;
    left:6px;
    top: -50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5); 
    border: 5px solid white;
    border-radius: 5px;
}

#cost-pin,
#timing-pin,
#data-delivery-pin,
#level-pricings-pin {

    position: absolute;
    background-color: white;
    top: 30px;
    z-index: 105;
/*    top:50px;*/
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari */
    transform: rotate(45deg);
}

.violet {
    background-color: #6e0cad;
}

.next-level {
    background-color: #b3b3b3;
    color: white;
    font-size: 10px;
    text-align: center;
}

.pt-pricing-level-popup {
    left: 0;
    /*display: none;*/
    top: 70px;
}

.pt-pricing-level-popup-content {
    width: 300px;
}

.pricing-level-row {
    height: 20px;
}

.pricing-level-row>div {
    padding: 0;
    margin-left: 5px;
    font-size: 12px;
}

.pt-pricings-info-pin {
    width: 12px;
    height: 12px;
    padding: 0;
}

.pt-pricing-level-costs-spent {
    text-align: right;
    font-weight: bold;
}

#level-pricings-pin {
    border-bottom: none;
    border-top: 5px solid white; 
    top: -5px;
}

#level-pricings-pin >div {
    border-top: 2px solid #a9cbe6;
    border-bottom: none;
}

.pt-popup-pin > div {
    border-left: 2px solid #a9cbe6;
    border-bottom: 2px solid #a9cbe6;
    width:10px;
    height: 10px;
}

.pt-popup-pin {
    border-left: 5px solid white;
    border-bottom: 5px solid white;
    border-radius: 5px;   
}

.pt-summary-table {
    background-color: #f2f2f2;    
}

.pt-result-cost-popup-content p {
    font-size: 12px;
}

.pt-summary-table-header-row td p {
    font-style: italic;
}

.pt-summary-table tr td p{
    padding-right: 5px;
    width: 50px;
    text-align: right;
    font-size: 12px;
}

.pt-summary-table tr td:last-child p {
    font-weight: bold;
}

.pt-summary-table tr td {
    border:1px solid #8d8d8d;
}

.pt-summary-table tr:first-child {
    background-color: #e3e3e3;
}

.pt-summary-table tr:last-child {
    background-color: #d6d6d6;
}

.pt-save-confirm-contact {
    width:140px;
    margin-top: 400px;
}

.pt-save-confirm-contact > div {
    margin-top: 10px; 
}

#timing-table td:last-child p {
    width: 100px;
}

#data-delivery-table p {
    width: 150px;
}

#data-delivery-table td:first-child p {
    width: 50px;
}

.order-dialog {
    background-color: white;
    box-shadow: 0px 0px 10px black;
    padding: 20px;
    z-index: 2000;
    border-radius: 10px;
    position: fixed;
}

.order-dialog .ui-dialog-titlebar {display: none;}


/*
buttons
 */
.button-controls,
.button-accept,
.button-cancel,
.button-verbatim-translation {
    width: 140px;
    padding: 8px 25px;
    font-size: 14px;
    color: #ffffff;
    background: #aaaaaa;
    text-transform: uppercase;
    text-align: center;
    border-radius: 15px;
    text-shadow: none;
}

.button-verbatim-translation {
    text-transform: none;
}

.button-controls:hover,
.button-accept:hover,
.button-accept:focus,
.button-verbatim-translation:hover,
.button-verbatim-translation:focus,
.button-verbatim-translation-selected:focus {
    color: #ffffff;
    background: #0083e8;
}

.button-verbatim-translation-selected {
    background: #6e0cad;
}

.button-cancel:hover,
.button-cancel:focus {
    color: #ffffff;
    background: #e84c00;
}
