django-silk
djangorestframework-filters
werkzeug
django-bower
django-extensions
django-markup
django-disqus
xlrd
pandas
numpy
markdown
django-filter
djangorestframework
django-mptt
django-modeltranslation>=0.9
django-tables2
crispy-forms-foundation
django-crispy-forms
feedparser
django-reversion
Pillow
django-filebrowser
django-admin-tools
django-grappelli>=2.6
django-livereload
livereload
-e git://github.com/ojii/django-sekizai.git#egg=sekizai
django-jquery
django-bootstrap3
django_compressor
django-debug-toolbar
dj-database-url
django-toolbelt
django<1.9
alabaster
Babel
backports.ssl-match-hostname
certifi
docutils
gnureadline
ipdb
ipython
Jinja2
jsonschema
MarkupSafe
mistune
nose
numpydoc
pep8
ptyprocess
pudb
pyflakes
Pygments
pytz
pyzmq
requests
see
six
snowballstemmer
Sphinx
sphinx-rtd-theme
terminado
tornado
urwid
fabric
# mod_wsgi
