{% extends 'wordcloud/base.html' %}
{% load sekizai_tags staticfiles dixit_downloader disqus_tags data_filter_tags i18n %}

{% block page_header %}
    <h2>{% trans "Tree View" %}</h2>
{% endblock %}

{% block menu_body %}
    {% data_filter %}
{% endblock menu_body %}

{% block content %}
<section class="tree-block">
    <div class="container">
        <div clas="row">
            <div id="svg"></div>
                <div class="col-md-6 pull-right">
            {% downloader %}
            </div>
                <script type="text/javascript" src="{% static 'c_tree/js/svg.js' %}"></script>

            {# COMMENTS #}
            <div>
                {% disqus_show_comments %}
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block css %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{% static 'c_tree/css/tree.css' %}"/>
        <link rel="stylesheet" href="{% static 'css/bootstrap-table.min.css' %}"/>

    {% endaddtoblock %}
{% endblock %}

{% block js %}
    {% addtoblock 'js' %}
        <script type="text/javascript" src="{% static 'js/vis_helpers.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/d3.v3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/underscore.js' %}"></script>
        <script type="text/javascript" src="{% static 'c_tree/js/tree.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-table.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootbox.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/tableExport.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/FileSaver.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap-table-export.js' %}"></script>

    {% endaddtoblock %}
{% endblock %}
