/* line 10, scss/compare.scss */
select {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
}

/* line 17, scss/compare.scss */
select option {
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* line 23, scss/compare.scss */
#svg_1, #svg_4, #svg_3, #svg_2 {
  min-height: 300px;
}

/* line 27, scss/compare.scss */
.svg-menu {
  font-size: 0.8em;
  margin-top: -1.5px;
  margin-bottom: 3em;
  padding: 0;
}

/* line 35, scss/compare.scss */
.options_menu {
  background-color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
}

/* line 40, scss/compare.scss */
.hidden_menu {
  width: 0px;
  opacity: 0;
  height: 0px;
}

/* line 46, scss/compare.scss */
a div {
  cursor: pointer;
}

/* line 50, scss/compare.scss */
a.btn.svg-menu-item {
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 1.4em;
}

/* line 56, scss/compare.scss */
.bordered {
  border: 1.5px solid #e3e3e3;
}

/* line 60, scss/compare.scss */
.svg-menu-item {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-left: transparent-border;
  border-right: transparent-border;
  border-top: 1.5px solid #e3e3e3;
  border-bottom: 1.5px solid #e3e3e3;
}
/* line 69, scss/compare.scss */
.svg-menu-item.right {
  border-right: 1.5px solid #e3e3e3;
}
/* line 72, scss/compare.scss */
.svg-menu-item.left {
  border-left: 1.5px solid #e3e3e3;
}
/* line 76, scss/compare.scss */
.svg-menu-item:hover {
  border: 1.5px solid #e3e3e3;
  background-color: #f0f9ff;
}
