/* line 8, scss/compare.scss */
.svg-menu {
  font-size: 0.8em;
}

/* line 13, scss/compare.scss */
a div {
  cursor: pointer;
}

/* line 17, scss/compare.scss */
a.btn.svg-menu-item {
  padding: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  height: 1.4em;
}

/* line 23, scss/compare.scss */
.bordered {
  border: 1.5px solid #e3e3e3;
}

/* line 27, scss/compare.scss */
.svg-menu-item {
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1.5px solid #e3e3e3;
  margin-bottom: 1em;
  border-bottom: 1.5px solid #e3e3e3;
  margin-bottom: 1em;
}
/* line 36, scss/compare.scss */
.svg-menu-item.right {
  border-right: 1.5px solid #e3e3e3;
}
/* line 39, scss/compare.scss */
.svg-menu-item.left {
  border-left: 1.5px solid #e3e3e3;
}
/* line 44, scss/compare.scss */
.svg-menu-item:hover {
  border-bottom: 1.5px solid #e3e3e3;
  border-top: 1.5px solid #e3e3e3;
  border-left: 1.5px solid #e3e3e3;
  border-right: 1.5px solid #e3e3e3;
  background-color: #f0f9ff;
}
