.footer div {
    width: 100%;
    padding-top: 1em;
    padding-bottom: 2em;
    background-color: #f5f5f5;
}

.wrap {
    height:auto !important;
    height:100%;
    min-height:100%;
    position:relative;
}
.empty {
    height:4em; /* равняется высоте футера */
}

.footer hr {
    max-width: 80%;
}
#header {
    padding-top: 4em;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px;
}

.site-footer {
  /*background: orange;*/
    background: #f5f5f5;
}