/*
GENERAL
*/
/* line 7, scss/base.scss */
html,
body {
  background: white;
  font-family: "Open Sans", sans-serif !important;
  height: 100%;
}

/* line 14, scss/base.scss */
body {
  padding-top: 70px;
}

/* line 18, scss/base.scss */
.wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}

/* line 25, scss/base.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

/*
END GENERAL
*/
/*
Navigation
*/
/* line 38, scss/base.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 43, scss/base.scss */
.navbar .navbar-collapse {
  text-align: center;
}

/* line 47, scss/base.scss */
nav {
  background-color: transparent !important;
  border-color: white;
  border: white !important;
  background-image: none !important;
  text-shadow: white;
  padding: 0;
  box-shadow: none !important;
}

/*
END Navigation
*/
/* line 60, scss/base.scss */
.mm-menu {
  background-color: white !important;
}

/* line 65, scss/base.scss */
.footer div {
  width: 100%;
  padding-top: 1em;
  padding-bottom: 2em;
}

/* line 72, scss/base.scss */
.empty {
  height: 4em;
}

/* line 76, scss/base.scss */
.footer hr {
  max-width: 80%;
}

/* line 80, scss/base.scss */
#header {
  padding-top: 4em;
}

/* line 84, scss/base.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 89, scss/base.scss */
.site-footer,
.page-wrap:after {
  height: 100px;
}

/* line 94, scss/base.scss */
.site-footer {
  background: #AEA0BC;
  color: #FBFAFB;
}

/* line 100, scss/base.scss */
table caption {
  color: #358ACD;
  font-weight: bold;
}

/* line 109, scss/base.scss */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #E8F5FF;
}

/*
Tooltip
*/
/* line 119, scss/base.scss */
div.tooltip {
  position: absolute;
  padding: 5px;
  font-family: "Open Sans", sans-serif;
  font: 14px;
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 1;
}

/* line 130, scss/base.scss */
.tooltip {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
}
/* line 133, scss/base.scss */
.tooltip div .table {
  margin: 0px;
}
/* line 136, scss/base.scss */
.tooltip div .table tr td:nth-child(1) {
  text-align: right;
}
/* line 139, scss/base.scss */
.tooltip div .table tr td:nth-child(2) {
  text-align: left;
  font-weight: bold;
}
/* line 144, scss/base.scss */
.tooltip div .table th,
.tooltip div .table td {
  border-top: none !important;
}

/*
END Tooltip
*/
