@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"), url("../fonts/klavikaregular-osf-opentype.otf") format("opentype");
}
/*
GENERAL
*/
/* line 10, scss/base.scss */
select {
  background: transparent;
  font-size: 14px;
  border: 1px solid #f5f5f5 !important;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  max-height: 24px;
  padding: 0px 12px !important;
  text-shadow: none !important;
}
/* line 21, scss/base.scss */
select.btn:hover, select.btn:focus {
  color: #000000 !important;
}

/* line 26, scss/base.scss */
.div-select + div.select-caret {
  margin-left: -39px;
  margin-top: 0px;
  max-width: 24px !important;
  width: 24px !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
}

/* line 35, scss/base.scss */
div.select-caret {
  border: 1px solid #f5f5f5;
  max-height: 24px;
}

/* line 41, scss/base.scss */
html,
body {
  background: white;
  font-family: Arial, Verdana, sans-serif !important;
  font-size: 16px;
  line-height: 1.4;
  height: 100%;
}

/* line 50, scss/base.scss */
.mainpage {
  /* equal to header height */
  padding-top: 55px;
}

/* line 55, scss/base.scss */
.wrap {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  position: relative;
}

/* line 62, scss/base.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

/* line 68, scss/base.scss */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Arial, Verdana, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  color: inherit;
}

/* line 75, scss/base.scss */
h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 80, scss/base.scss */
h2 {
  font-size: 24px;
  color: #0065b3;
}

/* line 85, scss/base.scss */
h4 {
  font-size: 20px;
}

/*
END GENERAL
*/
/*
Layout
*/
/* line 95, scss/base.scss */
section {
  padding: 60px 0;
}
/* line 97, scss/base.scss */
section .section-title {
  margin: 0 0 30px;
  text-align: center;
  position: relative;
}
/* line 101, scss/base.scss */
section .section-title:after {
  content: "";
  display: block;
  height: 1px;
  background: #f5f5f5;
  position: absolute;
  top: 15px;
  width: 100%;
}
/* line 110, scss/base.scss */
section .section-title span {
  background: #fff;
  padding: 0 10px;
  z-index: 1;
  position: relative;
}
/* line 117, scss/base.scss */
section.section-hilite {
  background: #eee;
}
/* line 119, scss/base.scss */
section.section-hilite span {
  background: #eee;
}
/* line 123, scss/base.scss */
section.section-center {
  text-align: center;
}
/* line 126, scss/base.scss */
section.section-nopadding {
  padding: 0 0 60px 0;
}

/*
END Layout
*/
/*
Navigation
*/
/* line 138, scss/base.scss */
.navbar {
  background: #ffffff;
  border: none;
}

/* line 143, scss/base.scss */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

/* line 148, scss/base.scss */
.navbar .navbar-collapse {
  text-align: center;
}

/* line 152, scss/base.scss */
.logo {
  margin: 0;
  padding: 0;
}
/* line 155, scss/base.scss */
.logo img {
  max-width: 100px;
  padding-top: 5px;
}

/*
END Navigation
*/
/*
Main page
*/
/* line 168, scss/base.scss */
.mainpage-image {
  margin-bottom: 50px;
}

/* line 173, scss/base.scss */
.welcome-block p {
  font-size: 16px;
  line-height: 1.3;
  color: #1c2924;
}

/* line 181, scss/base.scss */
.benefits-block .icon-wrap {
  height: 120px;
  width: 120px;
  margin: 10px auto;
}
/* line 185, scss/base.scss */
.benefits-block .icon-wrap img {
  max-height: 120px;
}
/* line 189, scss/base.scss */
.benefits-block p {
  max-height: 65px;
  overflow: hidden;
}

/*
END Main page
*/
/* line 199, scss/base.scss */
.mm-menu {
  background-color: white !important;
}

/* line 203, scss/base.scss */
.empty {
  height: 4em;
}

/* line 207, scss/base.scss */
.footer hr {
  max-width: 80%;
}

/* line 211, scss/base.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 216, scss/base.scss */
.site-footer,
.page-wrap:after {
  height: 80px;
}

/* line 221, scss/base.scss */
.site-footer {
  background: #aea0bc;
  color: #fbfafb;
}

/* line 227, scss/base.scss */
table caption {
  color: #358acd;
  font-weight: bold;
}

/* line 236, scss/base.scss */
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: #e8f5ff;
}

/*
Tooltip
*/
/* line 247, scss/base.scss */
div.tooltip {
  position: absolute;
  padding: 5px;
  font-family: Arial, Verdana, sans-serif;
  font: 16px;
  background: white;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  pointer-events: none;
  opacity: 1;
}

/* line 258, scss/base.scss */
.tooltip {
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 25px;
}
/* line 260, scss/base.scss */
.tooltip div {
  border: 2px solid #a9cbe6;
  padding-top: 1em;
}
/* line 263, scss/base.scss */
.tooltip div .table {
  margin: 0px;
  width: 100% !important;
}
/* line 267, scss/base.scss */
.tooltip div .table tr td:nth-child(1) {
  text-align: right;
}
/* line 270, scss/base.scss */
.tooltip div .table tr td:nth-child(2) {
  text-align: left;
  font-weight: bold;
}
/* line 275, scss/base.scss */
.tooltip div .table th,
.tooltip div .table td {
  border-top: none !important;
}

/*
END Tooltip
*/
