{% load sekizai_tags i18n staticfiles %}
<form action="" id="save_form">
    {% csrf_token %}
        <a onclick="saveSvgAsPng(document.getElementsByTagName('svg')[0], 'diagram.png', {scale: 2})" type="button" value="PNG">
            <div class="col-md-2 svg-menu-item">{% trans "Export PNG" %}</div>
        </a>
            <a onclick="get_csv(window.location.href)" type="button" download="" value="CSV" download>
            <div class="col-md-2 svg-menu-item right">{% trans "Export CSV" %}</div>
            </a>
</form>
<canvas style="display:none"></canvas>

{% block js %}
    {% addtoblock 'js' %}
        <script type="text/javascript" src="{% static 'dixit_exporter/js/downloader.js' %}"></script>
        <script type="text/javascript" src="{% static 'dixit_exporter/js/saveSvgAsPng.js' %}"></script>
    {% endaddtoblock %}
{% endblock %}