<!DOCTYPE html>
{% load staticfiles sekizai_tags i18n %}
{% get_current_language as LANGUAGE_CODE %}

<html>
<head lang="{{ LANGUAGE_CODE }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="yarnaid">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'Dixit Explicit Cloud' %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/spacelab.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mmenu/jquery.mmenu.all.css' %}">
    <link href="{% static 'css/screen.css' %}" media="screen, projection" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="{% static 'css/print.css' %}" media="print" rel="stylesheet" type="text/css">
    <!--[if IE]>
      <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    <script type="text/javascript" src="{% static 'js/jquery-2.1.3.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_setup.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/mmenu/jquery.mmenu.min.all.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/left_menu.js' %}"></script>
    {% render_block 'css' %}
    {% render_block 'js' %}
    {% addtoblock 'css' %}
    {% endaddtoblock %}
    {% block css %} {% endblock %}
    {% block js %} {% endblock %}
</head>

<body>
    <nav class="up_menu" id='left-nav'>
        <div>
            <div class="panel panel-default">
                {# {% block left_menu %} #}
                <div class="panel-heading">
                    {% block menu_heading %} Panel {% endblock %}
                </div>
                <div class="panel-body">
                    <div id="sidebar">
                        {% block menu_body %}
                        <ul class="nav list-group">
                            <li>
                                <a class="list-group-item active" href="{% url 'cloud' %}">CLICK ME TO SEE CLOUD!</a>
                            </li>
                            <li>
                                <a class="list-group-item active" href="{% url 'wordle' %}">WORDLE</a>
                            </li>
                            <li>
                                <a class="list-group-item active" href="{% url 'tree' %}">TREE <span class="badge">under construction</span>
                                    </a>
                            </li>
                            <li>
                                <a class="list-group-item active" href="{% url 'pricing_tool' %}">Pricing Tool</a>
                            </li>
                        </ul>
                        {% endblock %}
                    </div>
                </div>
                {# {% endblock %} #}
            </div>
        </div>
    </div>
</nav>



<div class="page-wrap">
    {% include 'wordcloud/nav_bar_auth.html' %}

   <script type="text/javascript">
    $(function() {
   $("#left-nav").mmenu({
          // configuration
          offCanvas: {
             pageNodetype: "section",
             zposition : "front"
          }
       });
       console.log('ready to menu!');
    });
   </script>
    <div class="container" id="page">
        {% block page %}
                {% block content %}
                    {% include 'wordcloud/mainpage.html' %}
                {% endblock %}
            {% endblock %}
        </div>
    </div>
    {% block footer %}
    <footer class="site-footer">
        <hr/>
        <div class="container text-left">
            {% block footnote %}
            <p>Copyright 2015 Dixit </br> All right reserved</p>
            {% endblock %}
        </div>
    </footer>
    {% endblock footer %}
    {% block help_snap %}
                        <!-- begin SnapEngage code -->
                <script type="text/javascript">
                (function() {
                var se = document.createElement('script'); se.type = 'text/javascript'; se.async = true;
                se.src = '//storage.googleapis.com/code.snapengage.com/js/9cfc6aa7-bd56-4819-90b4-fa5c2c06b617.js';
                var done = false;
                se.onload = se.onreadystatechange = function() {
                if (!done&&(!this.readyState||this.readyState==='loaded'||this.readyState==='complete')) {
                done = true;
                /* Place your SnapEngage JS API code below */
                /* SnapEngage.allowChatSound(true); Example JS API: Enable sounds for Visitors. */
                }
                };
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(se, s);
                })();
                </script>
                <!-- end SnapEngage code -->
    {% endblock help_snap %}
</body>

</html>
