{% load staticfiles %}
<section class="welcome-block section-nopadding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% include "wordcloud/image.html" %}
            </div>
            {% comment %}
            <div class="col-md-5 col-sm-12">
                <h2>Lorem ipsum dolor sit amet</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde?</p>
            </div>
            <div class="col-md-7 col-sm-12">
                <h2>Fugiat, quam nobis</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut dolorem temporibus ducimus nulla doloremque, necessitatibus nesciunt eligendi at laboriosam ratione cupiditate itaque quisquam, veniam atque unde? Vero repudiandae veritatis porro..</p>
            </div>
            {% endcomment %}
        </div>
        <div class="row">
            <div class="col-md-12">
            <img src="{% static 'img/under-construction.jpg' %}" />
            </div>
        </div>
    </div>
</section>
{% comment %}
<section class="benefits-block section-center section-hilite">
    <div class="container">
        <div class="row">
            <div class="container">
                <h2 class="section-title"><span>Features and benefits</span></h2>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Refresh-Lock.png" %}" alt="High quality and fast production" title="High quality and fast production">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <!-- TODO set script  to equal height-->
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, illo, nihil culpa facilis omnis repellendus corrupti delectus ullam vel autem facere laborum, hic voluptates, blanditiis voluptatem ipsum maiores placeat dolores? </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Teletubby.png" %}" alt="Mobile friendly" title="Mobile friendly">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ut enim illo a sequi eos, perferendis error, unde ab nihil laudantium illum delectus, magni! Eos saepe, aliquid dolores veniam tempore! </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Windows-Application.png" %}" alt="Modular structure" title="Modular structure">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ad voluptate, repudiandae perferendis necessitatibus, odit, vero, sed esse et similique distinctio debitis magnam ratione aliquid fugit quod? Vero, ex, incidunt. </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Purse.png" %}" alt="One time flat fee" title="One time flat fee">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum nihil aut vitae consequuntur non sed magnam deleniti numquam optio illo mollitia, possimus obcaecati provident, eos voluptate dignissimos quia! Quia, a! </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Screen-Chart.png" %}" alt="Marketing and analytics integrations" title="Marketing and analytics integrations">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem eveniet quibusdam reiciendis, iste cupiditate impedit iusto dolorum fuga, debitis ratione dolor vel. Iure ipsum perferendis placeat magni, voluptatem nemo, consequatur. </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="icon-wrap">
                            <img src="{% static "img/mainpage/benefits/Typing.png" %}" alt="CMS included" title="CMS included">
                        </div>
                        <h4>Lonsectetuer adipiscing elit.</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rem consequuntur quibusdam, veritatis ut dolore, veniam, cumque, aliquid est labore officia. Sit nulla, aliquam corporis consequuntur quasi aut itaque quia. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endcomment %}
