{% load sekizai_tags static i18n %}
<div class="container-fluid window-menu" id="sel-List-{{ id }}">

    <div class="row menu_row">
        <div class="col-md-12 col-xs-12 col-sm-12 text-left item-label"><label for="sel-Visualization-{{id}}">Visualization:</label></div>
        <div class="col-md-12 col-xs-12 col-sm-12 text-left div-select">
            <select class="btn form-control" id="sel-Visualization-{{id}}">
                    <option value="0">Cloud</option>
                    <option value="1">Tree</option>
            </select>
        </div>
        <div class="select-caret col-md-1 col-xs-1 col-sm-1"><span class="caret"></span></div>
    </div>

  <div>
  <div class="row menu_row">
      <div class="col-md-12 col-xs-12 col-sm-12 text-left item-label"><label for="sel-Job-{{id}}">Job:</label></div>
      <div class="col-md-12 col-xs-12 col-sm-12 text-left div-select">
          <select class="btn form-control" id="sel-Job-{{id}}">
              {% for job in jobs %}
                  <option value="{{job.0}}">{{job.2}} - {{job.1}}</option>
              {% endfor %}
          </select>
      </div>
      <div class="select-caret col-md-1 col-xs-1 col-sm-1"><span class="caret"></span></div>
  </div>
  </div>

  {% include "data_filter/selector.html" with label="Question" options=question_names id_=id %}

</div>
<div class="hidden" id="sel-Template">
    {% include "data_filter/selector.html" %}
</div>
{# MEDIA #}
{% block js %}
{% addtoblock 'js' %}
    <script type="text/javascript" src="{% static 'js/vis_helpers.js' %}"></script>
    <script type="text/javascript" id="some-script-{{id}}">
    var params_ids_{{ id }} = [];
    var params_names_{{ id }} = [];
    var get_filter_params_{{ id }} = function() {
        var res = {
            visualization: $("select#sel-Visualization-{{ id }}").val(),
            job: $("select#sel-Job-{{ id }}").val(),
            question: $("select#sel-Question-{{ id }}").val()
        };
        for (i in params_ids_{{ id }}) {
            res[params_names_{{ id }}[i]] = $("select#" + params_ids_{{ id }}[i]).val();
        }
        return res;
    };
    var get_filter_event_handler_{{id}};

    $(function() {
        var rest = new Rest();
        var update_event = new $.Event('filter_menu_update');
        var event_handler = new Object();
        get_filter_event_handler_{{id}} = function() {
            return event_handler;
        };
        $("select#sel-Visualization-{{ id }}").change(function(event) {
            $(event_handler).trigger('filter_menu_update');
        });
        $("select#sel-Job-{{ id }}").change(function(event) {
            $(event_handler).trigger('filter_menu_update');
        });
        $("select#sel-Question-{{ id }}").change(function(event) {
            $(event_handler).trigger('filter_menu_update');
        });

        var update_questions = function(job_id) {
                var questions = rest.get_short_questions(job_id);
                var q_sel = $("#sel-Question-{{ id }}");
                q_sel.find("option").remove();
                for (q in questions) {
                    var quest = questions[q];
                    q_sel.append("<option value=" + quest.id + ">" + quest.name + "</option>");
                }
            }
            // RENDER VARIABLES
        var update_variables = function(job_id) {
            $("#sel-List-{{ id }}").find(".menu_variable").remove();
            var variables = rest.get_variable_codes(job_id);
            var sel_template = $("#sel-Template");
            for (var i = 0; i < variables.length; ++i) {
                v = variables[i];
                if (v.text.length > 0) {  // TODO: DIRTY HACK
                    var my_templ = sel_template.clone();
                    var sel_id = "sel-" + v.text + "-{{ id }}";
                    my_templ.attr("id", sel_id);
                    params_ids_{{ id }}.push(my_templ.attr("id"));
                    var name_ = v.name.replace(/([a-z])([A-Z])/, '$1_$2').toLowerCase();
                    params_names_{{ id }}.push(name_);
                    my_templ.addClass("menu_variable");
                    my_templ.toggleClass("hidden");
                    var label = my_templ.find("label");
                    var sel = my_templ.find("select");
                    sel.change(function() {
                        $(event_handler).trigger("filter_menu_update");
                    });
                    sel.attr("id", sel_id);
                    sel.append("<option value=-1>{% trans 'Any' %}</option>");
                    for (var j = 0; j < v.code_book.children_codes.length; ++j) {
                        var code = v.code_book.children_codes[j];
                        if (code.title.length > 0) {
                            sel.append("<option value=" + code.code + ">" + code.title + "</option>");
                        }
                    }
                    label.html(v.text + ":");
                    my_templ.appendTo("#sel-List-{{ id }}");
                }
            }
        }
        var update_menu = function() {
            var job_id = $("#sel-Job-{{ id }}").val();
            update_questions(job_id);
            update_variables(job_id);
        }
        update_menu();
        $("#sel-Job-{{ id }}").change(function(event) {
            update_menu();
        });

    });
    </script>
{% endaddtoblock %}
{% endblock %}
{% block css %} {% addtoblock 'css' %} {% endaddtoblock %} {% endblock %}
