{% load i18n sekizai_tags staticfiles data_filter_tags %}
<div class="" style="margin:1em;">
    <button class="btn btn-default center-block" id="toggle_motion">Toggle motion</button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#colors-controls" data-toggle="collapse" aria-expanded="false" aria-controls="colors-controls">
            <h3 class="panel-title text-center">Colors</h3>
        </a>
    </div>
    <div id="colors-controls" class="panel-body collapse">
        <div>
            <div class="input-group title-color">
                <span class="input-group-addon">Titles:</span>
                <input type="text" value="" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <div class="input-group code-color">
                <span class="input-group-addon">Codes:</span>
                <input type="text" value="" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <div class="input-group overcode-color">
                <span class="input-group-addon">Overcodes:</span>
                <input type="text" value="" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <div class="input-group background-color">
                <span class="input-group-addon">Background:</span>
                <input type="text" value="" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
            <div>
                <button class="btn btn-default" id="randomize-colors">Randomize colors</button>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <a href="#question-controls" data-toggle="collapse" aria-expanded="false" aria-controls="question-controls">
            <h3 class="panel-title text-center">Question</h3>
        </a>
    </div>
    <div id="question-controls" class="panel-body">
    {% data_filter %}
    </div>
</div>
{% block js %} {% addtoblock 'js' %}
<script type="text/javascript" src="{% static 'cloud/js/menu.js' %}"></script>
{% endaddtoblock %} {% endblock %}
