<script>
    'use strict';
    $(function() {
        var data = {};

        function init() {
            var cluster = new Cluster('#svg', data);
        };

        function data_loaded(err, _data) {
            if (!err) {
                data = _data;
                init();
            } else {
                console.log(err);
            }
        };

        var start = function() {
            var tmp;
            $.ajax({url:window.location.href, success: function(j) {
                console.log(j);
                data_loaded(null, j);
            }});
        };
        start();
    });
</script>