.node {
  cursor: pointer;
  stroke: rgba(57, 141, 207, 0.5);
  stroke-width: 1px;
}

.node:hover {
  stroke: rgba(175, 97, 203, 1);
  stroke-width: 2px;
}

.code {
  /*cursor: pointer;*/
  /*stroke: rgba(57, 141, 207, 1);*/
  /*stroke-width: 2px;*/
}


.node > g > rect {
  stroke: none;
  position: absolute;
}

.overcode {
  fill: rgba(175, 97, 203, 0.08);
}

.overcode:hover {
  fill: rgba(175, 97, 203, 0.5);
}

.code {
  stroke: rgba(57, 141, 207, 1);
    fill: rgba(57, 141, 207, 0.05);
}

.code:hover {
  stroke: rgba(57, 141, 207, 1);
  fill: rgba(57, 141, 207, 0.5);
}


.code > g > .circle-text {
  fill: rgba(57, 141, 207, 1);
}

.circle-text {
  fill: #AF61CB;
  stroke: node;
  position: absolute;
}

/*.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}*/

.link {
  /*stroke: #ccc;*/
  stroke: none;
}

body {
  background: white;
  font-family: 'Open Sans', sans-serif;
}

div#svg {
    min-height: 300px;
}

svg {
  border: 1.5px solid;
  border-color: #E3E3E3;
  /*border-radius: 25px;*/
  background: white;
}

#one{
    position:absolute;
    z-index:1;
}

#two{
    position:absolute;
    z-index:-1;
}