/* line 3, scss/cloud.scss */
.node {
  cursor: pointer;
  stroke: rgba(57, 141, 207, 0.5);
  stroke-width: 1px;
}

/* line 9, scss/cloud.scss */
.node:hover {
  stroke: #af61cb;
  stroke-width: 2px;
}

/* line 14, scss/cloud.scss */
.cloud * g rect {
  stroke: none;
  position: absolute;
}

/* line 19, scss/cloud.scss */
.overcode {
  fill: rgba(175, 97, 203, 0.08);
}

/* line 23, scss/cloud.scss */
.overcode:hover {
  fill: rgba(175, 97, 203, 0.5);
}

/* line 27, scss/cloud.scss */
.code {
  stroke: #398dcf;
  fill: rgba(57, 141, 207, 0.05);
}
.code-coocurence {
   stroke: #398dcf;
  fill:blue;

}
/* line 32, scss/cloud.scss */
.subnet {
  stroke: #398dcf;
  fill: rgba(57, 141, 207, 0.2);
}

/* line 37, scss/cloud.scss */
.code:hover {
  stroke: #398dcf;
  fill: rgba(57, 141, 207, 0.5);
}

.code-coocurence:hover {
    stroke: #398dcf;
  fill: rgba(57, 141, 207, 1);
}

/* line 42, scss/cloud.scss */
.code > g > .circle-text {
  fill: #398dcf;
}

/* line 46, scss/cloud.scss */
.circle-text {
  fill: #AF61CB;
  stroke: none;
  position: absolute;
}

.circle-text-coocurence {
    fill: white;
    stroke: none;
    position: absolute;
}

/* line 52, scss/cloud.scss */
.cloud * .link {
  stroke: none;
}
