@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff2") format("woff2"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg"), url("../fonts/klavikaregular-osf-opentype.otf") format("opentype");
}
/* line 13, scss/tree.scss */
.node text {
  font: 12px Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* line 16, scss/tree.scss */
.node rect {
  stroke-width: 3px;
  cursor: pointer;
  fill: white;
}
/* line 22, scss/tree.scss */
.node.overcode rect {
  stroke: #d69ae6;
}
/* line 24, scss/tree.scss */
.node.overcode rect:hover {
  fill: #f8f2fa;
}
/* line 28, scss/tree.scss */
.node.overcode text {
  fill: #9b36bb;
}
/* line 33, scss/tree.scss */
.node.code text {
  fill: #4596d3;
}
/* line 36, scss/tree.scss */
.node.code rect {
  stroke: #c2daec;
}
/* line 38, scss/tree.scss */
.node.code rect:hover {
  fill: #eef5fa;
}

/* line 45, scss/tree.scss */
.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
/* line 49, scss/tree.scss */
.link.code {
  stroke: #c2daec;
}
/* line 52, scss/tree.scss */
.link.overcode {
  stroke: #d69ae6;
}

/* line 57, scss/tree.scss */
svg {
  border: 2px solid;
  border-radius: 25px;
}

/* line 62, scss/tree.scss */
.collapsed {
  fill: lightsteelblue;
}
