.node circle {
   fill: #fff;
   stroke: steelblue;
   stroke-width: 3px;
    cursor: pointer;
 }

 .node text { font: 12px sans-serif; }

 .link {
   fill: none;
   stroke: #ccc;
   stroke-width: 2px;
 }

svg {
    border: 2px solid;
    border-radius: 25px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font-family: 'Open Sans', sans-serif;
  font: 14px;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  opacity: 0.8;
}
