@import 'const';
@import "compass/css3";

div.tooltip {
  position: absolute;
  padding: 5px;
  font-family: $font-family;
  font: $font-size;
  background: $background;
  @include border-radius(3px);
  pointer-events: none;
  opacity: 1;
}

.mm-menu {
    background-color: white !important;
}

.footer {
    div {
        width: 100%;
        padding-top: 1em;
        padding-bottom: 2em;
    }
}

.wrap {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}


nav
{

    background-color: transparent !important;
    border-color: white;
    border: white !important;
    background-image: none !important;
    text-shadow: white;
    padding: 0;
    box-shadow: none !important;
}
.empty {
    height: 4em;
}

.footer hr {
    max-width: 80%;
}
#header {
    padding-top: 4em;
}

html, body {
    background: $background;
    font-family: $font-family !important;
    height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -100px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px;
}

.site-footer {
    background: $footer-color;
    color: $footer-text;
}

table {
    caption {
      color: $blue;
      font-weight: bold;
    }
}

.table-striped{
    tbody {
        tr:nth-child(odd) {
            td, th {
                background-color: $light-blue;
            }
        }
    }
}

.tooltip {
    @include box-shadow(rgba(black, 0.4) 0 0 25px);
    div {
        .table {
            margin: 0px;
            tr {
                td:nth-child(1) {
                    text-align: right;
                }
                td:nth-child(2) {
                    text-align: left;
                    font-weight: bold;
                }
            }
            th, td {
                border-top: none !important;
            }
        }
    }
}
