@import "const";
@import "compass/css3";

/*
GENERAL
*/

$select-hight: 24px;

select {
  background: transparent;
  font-size: 14px;
  border: 1px solid $gray !important;
  border-radius: 0 !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  max-height: $select-hight;
  padding: 0px 12px !important;
  text-shadow: none !important;
  &.btn:hover, &.btn:focus {
    color: #000000 !important;
  }
}

.item-label {
  font-style: italic;
  color: $vis-pink;
}

.window-menu > div:nth-child(even) div {
  background: $even-menu;
}

div.menu_row:nth-child(2n+2) {
  background: $even-menu;
}

.menu_row {
    border: 1px solid $gray !important;
    padding: 8px;
}

.div-select + div.select-caret {
    margin-left: -39px;
    margin-top: 0px;
    max-width: $select-hight !important;
    width: $select-hight !important;
    padding-left: 5px !important;
    padding-right: 0px !important;
}

div.select-caret {
  border: 1px solid $gray;
  max-height: $select-hight;
}


html,
body {
    background: $background;
    font-family: $font-family !important;
    font-size: $font-size;
    line-height: $line-height;
    height: 100%;
}

.mainpage {
    /* equal to header height */
    padding-top: 55px;
}

.wrap {
    height: auto !important;
    height: 100%;
    min-height: 100%;
    position: relative;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -100px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 24px;
    color: #0065b3;
}

h4 {
    font-size: 20px;
}

/*
END GENERAL
*/
/*
Layout
*/
section {
    padding: 60px 0;
    .section-title {
        margin: 0 0 30px;
        text-align: center;
        position: relative;
        &:after {
            content: "";
            display: block;
            height: 1px;
            background: #f5f5f5;
            position: absolute;
            top: 15px;
            width: 100%;
        }
        span {
            background: #fff;
            padding: 0 10px;
            z-index: 1;
            position: relative;
        }
    }
    &.section-hilite {
        background: #eee;
        span {
            background: #eee;
        }
    }
    &.section-center {
        text-align: center;
    }
    &.section-nopadding {
        padding: 0 0 60px 0;
    }
}

/*
END Layout
*/
/*
Navigation
*/

.navbar {
    background: #ffffff;
    border: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.logo {
    margin: 0;
    padding: 0;
    img {
        max-width: 100px;
        padding-top: 5px;
    }
}

/*
END Navigation
*/
/*
Main page
*/

.mainpage-image {
    margin-bottom: 50px;
}

.welcome-block {
    p {
        font-size: 16px;
        line-height: 1.3;
        color: #1c2924;
    }
}

.benefits-block {
    .icon-wrap {
        height: 120px;
        width: 120px;
        margin: 10px auto;
        img {
            max-height: 120px;
        }
    }
    p {
        max-height: 65px;
        overflow: hidden;
    }
}

/*
END Main page
*/

.mm-menu {
    background-color: white !important;
}

.empty {
    height: 4em;
}

.footer hr {
    max-width: 80%;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 80px;
}

.site-footer {
    background: $footer-color;
    color: $footer-text;
}

table {
    caption {
        color: $blue;
        font-weight: bold;
    }
}

.table-striped {
    tbody {
        tr:nth-child(odd) {
            td, th {
                background-color: $light-blue;
            }
        }
    }
}

/*
Tooltip
*/

div.tooltip {
    position: absolute;
    padding: 5px;
    font-family: $font-family;
    font: $font-size;
    background: $background;
    @include border-radius(3px);
    pointer-events: none;
    opacity: 1;
}

.tooltip {
    @include box-shadow(rgba(black, 0.4) 0 0 25px);
    div {
        border: 2px solid #a9cbe6;
        padding-top: 1em;
        .table {
            margin: 0px;
            width: 100% !important;
            tr {
                td:nth-child(1) {
                    text-align: right;
                }
                td:nth-child(2) {
                    text-align: left;
                    font-weight: bold;
                }
            }
            th,
            td {
                border-top: none !important;
            }
        }
    }
}

/*
END Tooltip
*/
