// @import "const";
@import "compass/css3";

$border-hight: 1.5px;
$border-color: rgb(227, 227, 227);
$menu-border: $border-hight solid $border-color;
$transparent-border: $border-hight solid none;
$hover-color: #f0f9ff;

#svg_1,#svg_4,#svg_3,#svg_2 {
    min-height: 300px;
}

.svg-menu {
    font-size: 0.8em;
    // border: $menu-border;
    margin-top: -$border-hight;
    margin-bottom: 3em;
    padding: 0
}

.options_menu {
    background-color: yellow;
    @include box-shadow(rgba(black, 0.4) 0 0 25px);
}

.hidden_menu {
    width: 0%;
    opacity: 0;
    height: 0px;
}

a div {
    cursor: pointer;
}

a.btn.svg-menu-item {
    padding: 0px;
    @include border-radius(0px);
    height: 1.4em;
}

.bordered {
    border: $menu-border;
}

.svg-menu-item {
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-left: transparent-border;
    border-right: transparent-border;

    border-top: $menu-border;
    &.right {
        border-right: $menu-border;
    }
    &.left{
        border-left: $menu-border;
    }
    border-bottom: $menu-border;
    &:hover {
        border: $menu-border;
        background-color: $hover-color;
    }
}